$text-primary: 'Open Sans', sans-serif;
$text-secondary: 'Roboto', sans-serif;
$text-color-primary: #555252;
$text-color-secondary: #fff;
$time-animation: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$color-secondary: #1abc9c;
$color-hover: #7ed9c7;
$color-hover-product-price: #66f3d7;
$bg-color-section: #e9effd;
$bg-color-product-name: #323232;
$bg-color-product-price: #8c8c8c;
