.banner {
  position: relative;
  min-height: calc(100vh - 140px);
  background-image: linear-gradient(
      rgba(24, 24, 24, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(
        rgba(24, 24, 24, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url('../images/hero@2x.png');
  }
}

.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title {
  font-size: 48px;
  color: $text-color-secondary;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  width: 800px;
  letter-spacing: -1px;

  &::first-line {
    font-family: $text-secondary;
    font-weight: 300;
  }
}

.hero-title__letter {
  font-weight: 900;
  color: $color-secondary;
}

.hero__link {
  display: inline-block;
  font-size: 14px;
  color: $text-color-secondary;
  font-family: $text-secondary;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  background-color: $color-secondary;
  margin-top: 20px;
  transition: background-color $time-animation $time-function;

  &:hover,
  &:focus {
    background-color: $color-hover;
  }
}
